<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guangxunet.shop.business.mapper.ResetpwdVerifyMapper" >
  <resultMap id="BaseResultMap" type="com.guangxunet.shop.business.domain.ResetpwdVerify" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="uuid" property="uuid" jdbcType="VARCHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_resetpwd_verify
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guangxunet.shop.business.domain.ResetpwdVerify" useGeneratedKeys="true" keyProperty="id" >
    insert into t_resetpwd_verify (user_id, send_time, uuid
      )
    values (#{userId,jdbcType=VARCHAR}, #{sendTime,jdbcType=TIMESTAMP}, #{uuid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.guangxunet.shop.business.domain.ResetpwdVerify" >
    update t_resetpwd_verify
    set user_id = #{userId,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      uuid = #{uuid,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <update id="updateEffectFlagByUUID" parameterType="com.guangxunet.shop.business.domain.ResetpwdVerify" >
    update t_resetpwd_verify
    set effect_flag = #{effectFlag}
    where uuid = #{uuid}
  </update>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, user_id, send_time, uuid
    from t_resetpwd_verify
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUUID" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select id, user_id, send_time, uuid
    from t_resetpwd_verify
    where uuid = #{uuid}
    and effect_flag = 'Y'
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, user_id, send_time, uuid
    from t_resetpwd_verify
  </select>
</mapper>