<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="product_ID">
		insert into product(categoryId,firstName,secondName,createTime	,status	,littleImgUrl,bigImgUrl)
			values (#{categoryId},#{firstName},	#{secondName},#{createTime} ,#{status},#{littleImgUrl},#{bigImgUrl})
	</insert>
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from product
		where 
			product_ID = #{product_ID}
	</delete>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  product
			set 
				categoryId = #{categoryId},
				firstName = #{firstName},
				secondName = #{secondName},
				status = #{status},
				littleImgUrl = #{littleImgUrl},
				bigImgUrl = #{bigImgUrl}
			where
				product_ID = #{product_ID}
	</update>
	
	<!-- 通过ID获取数据 -->
    <select id="findById" parameterType="pd" resultType="pd">
		select
			categoryId,
			firstName,
			secondName,
			createTime,
			status,
			littleImgUrl,
			bigImgUrl,
			product_ID
		from
			product
		where
			product_ID = #{product_ID}
	</select>

    <sql id="selectSql">
    a.product_ID,a.firstName,a.secondName,a.createTime,a.status,a.littleImgUrl,a.bigImgUrl,a.categoryId,c.name as categoryName
    </sql>

    <!-- 列表 -->
    <select id="datalistPage" parameterType="page" resultType="pd">
		select
				<include refid="selectSql"/>
		from
				product a LEFT JOIN category c ON a.categoryId = c.category_ID
		<where>
			<if test="pd.beginDate != null and pd.beginDate != ''">
				AND a.createTime &gt;= #{pd.beginDate}
			</if>
			<if test="pd.endDate != null and pd.endDate != ''">
				AND a.createTime &lt;= #{pd.endDate}
			</if>
			<if test="pd.status != null and pd.status != ''">
				AND a.status = #{pd.status}
			</if>
			<if test="pd.keyword != null and pd.keyword != ''">
				AND a.firstName LIKE CONCAT('%', #{pd.keyword},'%')
			</if>
		</where>
	</select>

    <!-- 列表(全部) -->
    <select id="listAll" parameterType="pd" resultType="pd">
        select
              <include refid="selectSql"/>
        from
            product a LEFT JOIN category c ON a.categoryId = c.category_ID
	</select>

    <!-- 批量删除 -->
    <delete id="deleteAll" parameterType="String">
		delete from product
		where
			product_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
	<!-- 删除小图片 -->
	<update id="delTp1" parameterType="pd">
		update  product
			set 
				littleImgUrl	= ''
			where 
				product_ID = #{product_ID}
	</update>
	
	<!-- 删除大图片 -->
	<update id="delTp2" parameterType="pd">
		update  product
			set 
				bigImgUrl	= ''
			where 
				product_ID = #{product_ID}
	</update>

</mapper>