<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CategoryMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd" useGeneratedKeys="true" keyProperty="category_ID">
		insert into category(name,parentId,createDate,category_order) values (#{name},#{parentId},#{createDate},#{categoryOrder})
	</insert>

	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from category
		where 
			category_ID = #{category_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  category
			set 
				name = #{name} ,
				parentId = #{parentId} ,
				category_order = #{categoryOrder},
				update_date=#{updateDate}
			where
				category_ID = #{category_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			category_ID,
			name,
			parentId,
			createDate,
			update_date as "updateDate",
			category_order as "categoryOrder"
		from 
			category
		where 
			category_ID = #{category_ID}
	</select>

	<!-- 列表 -->
	<select id="parentList" resultType="pd">
		select
				a.name,	
				a.category_ID
		from 
				category a
		where 	a.parentId = 0
	</select>
	
	<!-- 查询子级商品类目 -->
	<select id="selectByParentId" resultType="pd">
		SELECT
			cg.category_ID as "id",
			cg. NAME AS "name",
			cg.parentId AS "parentId",
			cg.category_order AS "categoryOrder",
			date_format(cg.createDate, '%Y-%m-%d') AS "createDate",
			date_format(cg.update_date, '%Y-%m-%d') AS "updateDate",
			cg2. NAME AS "parentName"
		FROM
			category cg
		LEFT JOIN category cg2 ON cg.parentId = cg2.category_ID
		WHERE
			cg.parentId = #{parentId}
		ORDER BY
			cg.category_order
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.name,	
				a.parentId,	b.name as parentName,
				a.createDate,	
				a.category_ID
		from 
				category a LEFT JOIN category b ON a.parentId = b.category_ID
		where 	a.parentId != 0
	</select>

	<!-- <select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.name,
				a.parentId,b.name as parentName,
				a.createDate,
				a.category_ID
		from
				category a LEFT JOIN category b ON a.parentId = b.category_ID
		where 	a.parentId != 0
	</select> -->
	
	<!-- 查询根级目录 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select 
			cg.name,
			cg.parentId,
			cg.createDate,
			cg.category_order as "categoryOrder",
			cg2.name as "parentName",
			cg.category_ID
	    from category cg left join category cg2 on cg.parentId = cg2.category_ID
	    <where> 
	     <if test="pd.field2==null or pd.field2==''">
	    	cg.parentId = "0"
	     </if>
	     <if test="pd.field1!=null and pd.field1!=''">
	        AND cg.name like concat('%',#{pd.field1},'%')
	     </if>
	     <if test="pd.lastLoginStart!=null and pd.lastLoginStart!=''">
	        AND cg.createDate  &gt;#{pd.lastLoginStart}
	     </if>
	     <if test="pd.lastLoginEnd!=null and pd.lastLoginStart!=''">
	        AND cg.createDate  &lt;#{pd.lastLoginEnd}
	     </if>
	    </where>
	    order by cg.category_order
	</select>

	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from category
		where 
			category_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>